{% extends 'ecommerce/base_site.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/productDetail.css' %}">
{% endblock %}
{% block content %}
<div class="container ma-auto">
    <div class="flex justify-center mt-12">
        <h2 class="text-center text-red-600">4</h2>
        <h2 class="text-center text-red-600">0</h2>
        <h2 class="text-center text-red-600">4</h2>
    </div>
    <p class="text-center text-red-600">این صفحه وجود ندارد</p>
</div>
{% endblock %}