<div class="ml-4">
    <div class="flex justify-between">
        <label for="email"
            class="block text-sm font-medium leading-6 {% if msg %}text-red-500{% else %}text-gray-900{% endif %}">ایمیل</label>
        <span class="text-lg lg:text-2xl leading-6 text-red-600" id="email-optional">*</span>
    </div>
    <div class="relative mt-2 rounded-md shadow-sm">
        <input type="email" name="email" id="email" required
            class="block w-full rounded-md border-0 py-1.5 pr-10 ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 {% if msg %}text-red-900 ring-red-300 placeholder:text-red-300 focus:ring-red-500{% endif %}" aria-invalid="true" aria-describedby="email-error">
        {% if msg != 'email sended' %}
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pr-3">
            <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        {% endif %}
    </div>
</div>