
حرفاته سبک سنگین کن ببین چه گوی
حرفات چندپهلیه طرزبیانت خوب نی
بهونه تراشی نکن
الان شاید گرم بوی اشتباه کنی بعدن پشیمونبوی
مر سی زندگیت زحمتنکشیدی چندسال پهحالاکه یه اوی به کاسس خرده یچی گیرس اود خوی ولس کنی سی یکی دی
زندگیته خونهزندگیتهول نکن
چطو تا دوش یک خاستین الان نیخوین
ادمشایدگول بخوره بگو فلانی میرمایطو کرده درستس کنین
هر زینه میره ای شاید یبار به ره لیش رهده وا درستس کنی
کاری وت ابو دی حالس نداری گوی گور پدرس ولس هی بیوفتم به دینس هیچ نخاستم لکس ول کن نشینم هونه
هر کسی یه جوری افهمه یکی با 
او بی عاری ویل نیخوم حوسلس نداره 
ارم چور چورس کنم که چه بو سومزی 
خومم هم طورم ز ای گوش گری ز او گوش دی در
مو نیخوم طرف گرم ار بگرم زندگیت خرو بو
ار بگو تو اگوی خا حق با مونه وا طلاق گرم یا او
مر نوا یجوری بو که مثلا خانوادت مردن دات مندمر نوا گوی اقا دامهگناه داره بیا ضفتس بکن نگو نه
بگو نترم دی خستم چند ساله دیخستم نترم
مر چنده کار کاردی کارا خوته بی منت نکن مر خون لوح تقدیر دنت 
روزی ۱۰ بار بگون فلانی دست درد نکنه اشکمت پر بو؟
او گولس زی ره فایده نداره
په بعدس خوی چه کنی؟ همه همونو عروسی کنن خوی مهنی چه کنی؟
هی حالو تو جا یوکه ره نشونس دی لکه هایی نی من دهونس؟
هم عروست بهر خوس هد
سی هی چو ناسازگاری بزنی؟
زندگی همینه په خوی همیشه پیل بو؟ هیمشه سود بو؟ همیشه خوشی؟
هونه جدا خوی بگو باش
مو یشنم میره همی سر کارگرم با چقو ره بدین بچه خاست سرس بره معتاد بی به نیره بره 
مو درو گوم ز دام بپرس زه میرکادون قلی پور بپرس
حالا درسته یخوره مشکل داره گور بوس مو خومم زس متنفرم ولی زیاد تی تو نگوم نیخواستم زندگیته خرو کنم
حالو شاید یه مشکلاتی هم داشته بو جقله بی مشکل نی وایاریس به ره حالا یا خوت یا کهخدایل - یا بزور یا ب حرف
مر الکیه گوین مو نیخوم
زون داشته بو مر قراره بیا بدینت بگو زندیمه مر همس زندگی خوته
بگو زندگیمه زحمت کشیم سیس
مر الکیه په مو دختر بیدنمنه نهام پا تو که تو بگوی نیخوم؟
هنی نه خاستگاری رهده نه کاری کرده درست بو ار خوی راست بو راست ابو راه داره وا هلی وا امان ار نیخوی هو بحثس جدا
