{% extends 'user/base_panel.html' %}
{% load static %}

{% block title %}تغییر پسورد{% endblock %}
{% block mobile_menu_change_password %} bg-indigo-700 text-white{% endblock %}
{% block desktop_menu_change_password %} bg-indigo-700 text-white{% endblock %}

{% block current_address %}
<li class="flex">
  <div class="flex items-center">
    <svg class="h-full w-6 flex-shrink-0 text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
      fill="currentColor" aria-hidden="true">
      <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
    </svg>
    <a href="{% url 'change password' %}" class="mr-4 text-sm font-medium text-gray-500 hover:text-gray-700"
      aria-current="page">تغییر پسورد</a>
  </div>
</li>
{% endblock %}

{% block current_page_btn %}
<a href="{% url 'change password' %}"
class="text-purple-700 bg-slate-200 p-2 self-center group flex gap-x-3 rounded-md text-lg font-semibold">
<svg class="h-6 w-6 shrink-0 text-purple-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
  stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round"
    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>
تغییر پسورد
</a>
{% endblock %}

{% block content %}
<div class="border-2 shadow-lg rounded-lg py-4 p-3">
  <form action="" method="post">
    {% csrf_token %}
    <div class="grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-1 gap-4">
      <div class="col-span-6">
        <div class="rounded-md bg-yellow-100 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="mr-3">
              <h3 class="text-sm font-medium text-yellow-800">تغییر پسورد</h3>
              <div class="mt-2 text-sm text-yellow-700">
                <p>پس از تغییر پسورد از سیستم خارج خواهید شد.</p>
                <p>نیاز به لاگین مجدد دارد</p>
              </div>
            </div>
            
            {% if changePasswordForm_msg == 'old_password error' %}
            <div class="mr-3">
              <h3 class="text-sm font-medium text-red-500">خطا</h3>
              <div class="mt-2 text-sm text-yellow-700">
                <p>رمز عبور قبیلی اشتباه است</p>
              </div>
            </div>

            {% endif %}
          </div>
        </div>
        {% if changePasswordForm.non_field_errors %}
        <div class="mr-3 mt-3 p-4 bg-red-200 rounded-md">
          <h3 class="text-sm font-medium text-red-500">خطا</h3>
          <div class="mt-2 text-sm text-red-700">
            <p>{{ changePasswordForm.non_field_errors }}</p>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-span-6">
        <div class="grid grid-cols-6">
          <div class="lg:col-span-2 md:col-span-3 col-span-6">
            <!-- <div> -->
            <label for="{{ changePasswordForm.old_password.id_for_label }}"
              class="block text-sm font-medium leading-6 text-gray-900">{{ changePasswordForm.old_password.label }}</label>
            <div class="relative mt-2 rounded-md shadow-sm">
              {{ changePasswordForm.old_password }}
              {% if changePasswordForm_msg == 'old_password error' %}
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              {% endif %}
            </div>
            {% if changePasswordForm_msg == 'old_password error' %}
            <p class="mt-2 text-sm text-red-600" id="email-error">{{ changePasswordForm.non_field_errors }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="lg:col-span-2 md:col-span-3 sm:col-span-3 col-span-6">
        <!-- <div> -->
        <label for="{{ changePasswordForm.new_password1.id_for_label }}"
          class="block text-sm font-medium leading-6 text-gray-900">{{ changePasswordForm.new_password1.label }}</label>
        <div class="relative mt-2 rounded-md shadow-sm">
          {{ changePasswordForm.new_password1 }}
          {% if changePasswordForm.new_password1.errors %}
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd" />
            </svg>
          </div>
          {% endif %}
        </div>
        {% if changePasswordForm.new_password1.errors %}
          {% for error in changePasswordForm.new_password1.errors %}
          <p class="mt-2 text-sm text-red-600" id="email-error">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="lg:col-span-2 md:col-span-3 sm:col-span-3 col-span-6">
        <!-- <div> -->
        <label for="{{ changePasswordForm.new_password2.id_for_label }}"
          class="block text-sm font-medium leading-6 text-gray-900">{{ changePasswordForm.new_password2.label }}</label>
        <div class="relative mt-2 rounded-md shadow-sm">
          {{ changePasswordForm.new_password2 }}
          {% if changePasswordForm.new_password2.errors %}
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd" />
            </svg>
          </div>
          {% endif %}
        </div>
        {% if changePasswordForm.new_password2.errors %}
          {% for error in changePasswordForm.new_password2.errors %}
          <p class="mt-2 text-sm text-red-600" id="email-error">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="flex justify-end py-3">
      <button class="border-2 p-1 rounded-md border-green-700 bg-green-500 hover:border-green-800 hover:bg-green-600"
        type="submit">تغییر پسورد</button>
    </div>
  </form>
</div>
{% endblock %}